
body{
    background-color: gray;
}

/* navbar */
.menu{
    border: 1px solid black;
    width: 100%;
}

.menu div ul{
    display: flex;
    justify-content: space-between;
} 

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.bg-dark {
    background-color: #343a40;
    height: 134px;
}

.display {
    display: flex;
    justify-content: space-evenly;
}

.form-control{
    width: 16%;
}

/* editing profil */
.profilUser #deleteUser a{
    color: red;
}

/* product card */

.card{
    border: none!important;
}

.product{
    display: flex;
    justify-content: center;
}

.product form{
    display: grid;
    border: 3px solid black;
    padding: 30px;
    margin-bottom: 30px;
}

.card .list-group img{
    margin-left: 32px; 
    padding: 14px;
}

.card .list-group{
    flex-direction: unset; 
    border: solid black 15px; 
    border-radius: 100px 1px / 120px;
}

/* CONNEXION*/

#form{
    display: flex;
    justify-content: center;
}

#form form{
    width: 15%;
}

#form form #send button {
    margin-left: 36px;
}

#form form a {
    margin-left: 25px;
}