.menu{
    border: 1px solid black!important;
    width: 100%!important;
}

.menu div ul{
    display: flex!important;
    justify-content: space-between!important;
} 

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.bg-dark {
    background-color: #343a40!important;
    height: 134px;
}

.display {
    display: flex!important;
    justify-content: space-evenly!important;
}

.form-control{
    width: 16%!important;
}

.profilUser #deleteUser a{
    color: red;
}


.product{
    display: flex!important;
    justify-content: center!important;
}

.product form{
    display: grid!important;
    border: 3px solid black!important;
    padding: 30px!important;
    margin-bottom: 30px!important;
}